<div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <h1>Question List</h1>
          <a class="btn btn-primary" routerLink="/question/question-list/add" role="button">
          <i class="fas fa-plus-circle"></i> Add a Question</a>
          <br>
          <table class="table table-bordered table-striped table-hover">
              <!-- Header Row-->
              <tr>
                  <th class="text-center">question</th>
                  <th class="text-center">option1</th>
                  <th class="text-center">option2</th>
                  <th class="text-center">option3</th>
                  <th class="text-center">option4</th>
                  <th class="text-center">answer</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
              </tr>

              <!-- Repeatable Template Row -->
                  <tr *ngFor="let question of questions">
                      <td class="text-center">{{ question.question }}</td>
                      <td class="text-center">{{ question.option1 }}</td>
                      <td class="text-center">{{ question.option2 }}</td>
                      <td class="text-center">{{ question.option3 }}</td>
                      <td class="text-center">{{ question.option4 }}</td>
                    

                      <td class="text-center">
                      <a routerLink="/question/question-list/edit/{{ question._id }}"
                          class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
                      </td>

                      <td class="text-center">
                              <a routerLink="/question/question-list/delete/{{ question._id }}" (click)="onDeleteClick()"
                                  class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                              </td>
                  </tr>
          </table>

      </div>
  </div>
</div>
