 <!-- Content for the Details Page -->
 <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>{{ title }}</h1>
  
            <form class="form" (submit)="onDetailsPageSubmit()">
                <div class="form-group">
                    <label for="QuestionTextField">Question</label>
                    <input type="text" class="form-control"
                    id="QuestionTextField"
                    placeholder="Enter Question"
                    name="question"
                    [(ngModel)]="question.question"
                    value="{{ question.question }}"
                    required>
                </div>

               <div class="form-group">
                    <label for="AnswerTextField">Answer</label>
                    <input type="text" class="form-control"
                    id="AnswerTextField"
                    placeholder="Enter Answer"
                    name="question"
                    [(ngModel)]="question.answer"
                    value="{{ question.answer }}"
                    required>
                </div>
               
  
                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i> {{ title }}</button>
                <a routerLink="/question/question-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
  
  
        </div>
    </div>
  </div>x
  