<div class="jumbotron text-center bg-dark">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="text-primary text-capitalize">Create your own services</h1>
         
        <!-- <pre class="text-white">This section allow the administer to establish the credentials of services form according to his/her wish, 
        the point to be noted here is that,
        all the fields are necessary, 
        even if any one of them is not filled then services will not be created, 
        beyond that how you specify everything is upto you</pre> -->
        <p class="text-warning">Please Enter the services details below-</p>
      </div>
    </div>
  </div>
  
  <div class="container body-color" ng-if="loggedIn">
      <form ng-submit="creCtrl.createservices();">
          <div class="form-group col-sm-10 col-md-6">
              <label for="servicesTitle"></label>
              <input type="text" name="servicesTitle" id="servicesTitle" 
                          class="form-control" autofocus="autofocus" 
                          required="required" placeholder="Enter services Title"
                          ng-model="creCtrl.title" style="border-color: black;">			
          </div>
          <div class="form-group col-sm-10 col-md-6">
              <label for="servicesSubtitle"></label>
              <input type="text" name="servicesSubtitle" id="servicesSubtitle"
                       class="form-control" required="required" placeholder="Enter services Subtitle" 
                       ng-model="creCtrl.subtitle" style="border-color: black;">
          </div>
          <div class="form-group col-sm-10 col-md-6">
              <label for="description"></label>
              <textarea class="form-control" required="required" rows="5" placeholder="Enter brief instruction for the services" 
                                  id="description" ng-model="creCtrl.instructions" style="border-color: black;">				
              </textarea>
          </div>
          <!-- <button type="submit" class="btn btn-info" style="margin-left: 15px;"></button>
          <a routerLink="/products">
            <i class="btn btn-primary text-white"></i>Submit </a>
         -->
            <!-- <button type="submit" class="btn btn-primary">
                    <i class="fas fa-edit"></i> {{ title }}</button> -->
                    <a routerLink="/products" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Submit</a>

      </form>
  
      <div style="float: right;">
          <button ng-click="creCtrl.goBack()" class="btn btn-info"> <i class="fa fa-hand-o-left"></i> Back </button>
      </div>
      <br>	
      <br><br> 	
  </div>